{% extends 'create.html' %}
{% block title %}Creating Airline{% endblock title %}
{% block header %}Creating Airline{% endblock header %}
{% block form %}
    <div class="form-group">
        <label for="inputName">Enter Name of Airline</label>
        <input id="inputName" type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="inputCountry">Enter Country</label>
        <input id="inputCountry" type="text" class="form-control" name="country">
    </div>
    <div class="form-group">
        <label for="inputContact">Contact Information</label>
        <textarea id="inputContact" class="form-control" name="contact_info"></textarea>
    </div>
{% endblock form %}